.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    background-color: var(--main);
    height: 100%;
    z-index: 10;
    @media (max-width: 992px) {
        height: auto;
        width: 100%;
    }

    &__container {
        padding: 16px 16px 8px 16px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;
        @media (max-width: 992px) {
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            padding-top: 8px;
        }
    }

    &__frame {
        margin-top: 24px;
        @media (max-width: 992px) {
            margin-top: 0;
            position: relative;
            z-index: 4;
        }
    }

    &__avatar {
        background-color: var(--border);
        padding: 8px;
        display: inline-block;
        border-radius: 50%;
        transition: all 0.5s ease;
        &:hover {
            background-color: var(--active);
        }
        @media (max-width: 992px) {
            padding: 0;
            margin-right: 5px;
        }
    }

    &__img {
        border-radius: 50%;
        width: 160px;
        height: 160px;
        @media (max-width: 992px) {
            width: 50px;
            height: 50px;
        }
    }

    &__title {
        margin-top: 10px;
        color: var(--font);
        font-size: 1.325rem;
        font-weight: 500;
        transition: all 0.5s ease;
        &:hover {
            color: var(--active);
        }
        @media (max-width: 992px) {
            margin-top: 0;
            padding-right: 5px;
            display: none;
        }
    }

    &__menu {
        flex-grow: 1;
        flex-basis: auto;
        display: flex;
        margin-bottom: auto;
        margin-top: auto;
        width: 100%;
        align-items: center;
        z-index: 3;
        @media (max-width: 992px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 70px;
            transform: translateY(-300px);
            background-color: var(--main);
        }
        &.navbar__menu--active {
            transform: translateY(0px);
        }
    }

    &__box {
        @media (max-width: 992px) {
            margin-left: auto;
            position: relative;
            z-index: 4;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--font);
        width: 100%;
    }

    &__link {
        color: inherit;
        padding: 10px 0;
        display: block;
        line-height: 24px;
        transition: all 0.5s ease;
        &:hover {
            color: var(--active);
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-bottom: "15px";
    }

    &__toggler {
        display: none;
        @media (max-width: 992px) {
            position: relative;
            z-index: 10;
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            span {
                background-color: var(--font);
                width: 30px;
                height: 2px;
                border-radius: 4px;
                display: block;
                margin: 6px 0;
                transition: all 0.3s ease;
            }

            &.navbar__toggler--active {
                span:nth-child(1) {
                    transform: rotate(45deg);
                    position: relative;
                    top: 8px;
                }
                span:nth-child(2) {
                    display: none;
                }
                span:nth-child(3) {
                    transform: rotate(135deg);
                    position: relative;
                }
            }
        }
    }
}
