.page {
    margin-left: 260px;
}

.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 260px;
    background-color: #000000;
    height: 100%;

    &__container {
        padding: 16px 16px 8px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    &__link {
        margin-top: 24px;
    }

    &__frame {
        background-color: #1f3d5a;
        padding: 8px;
        display: inline-block;
        border-radius: 50%;
    }

    &__img {
        border-radius: 50%;
        width: 160px;
        height: 160px;
    }

    &__title {
        margin-top: 10px;
        color: #fff;
        font-size: 1.325rem;
        font-weight: 500;
    }

    &__list {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
