.projects {
    background-color: var(--bg2);
    padding: 72px 0;
    @media (max-width: 992px) {
        padding: 62px 0;
    }
    @media (max-width: 740px) {
        padding: 52px 0;
    }
    @media (max-width: 540px) {
        padding: 32px 0;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 15px;
        @media (max-width: 992px) {
            grid-gap: 10px;
        }
        @media (max-width: 730px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    &__header {
        position: relative;
        display: flex;
        text-align: center;
        margin-bottom: 48px;
    }
    &__title {
        font-size: 132px;
        font-weight: 600;
        opacity: 0.1;
        line-height: 128%;
        text-transform: uppercase;
        width: 100%;
        color: var(--title);
        @media (max-width: 1195px) {
            font-size: 120px;
        }
        @media (max-width: 1117px) {
            font-size: 100px;
        }
        @media (max-width: 992px) {
            font-size: 122px;
        }
        @media (max-width: 890px) {
            font-size: 100px;
        }
        @media (max-width: 690px) {
            font-size: 80px;
        }
        @media (max-width: 570px) {
            font-size: 60px;
        }
        @media (max-width: 430px) {
            font-size: 55px;
        }
        @media (max-width: 390px) {
            font-size: 45px;
        }
        @media (max-width: 325px) {
            display: none;
        }
    }

    &__subtitle {
        font-size: 36px;
        font-weight: 600;
        color: var(--font);
        line-height: 150%;
        position: absolute;
        align-self: center;
        width: 100%;
        @media (max-width: 690px) {
            font-size: 28px;
        }
        @media (max-width: 415px) {
            font-size: 26px;
        }
    }
}

.project {
    &:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        @media (max-width: 730px) {
            grid-column: 1;
            grid-row: 1;
        }
    }
    &:nth-child(2) {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
        @media (max-width: 730px) {
            grid-column: 1;
            grid-row: 2;
        }
    }
    &:nth-child(3) {
        grid-column: 5 / span 4;
        grid-row: 1 / span 5;
        @media (max-width: 730px) {
            grid-column: 1;
            grid-row: 3;
        }
    }
    &:nth-child(4) {
        grid-column: 1 / span 4;
        grid-row: 3 / span 3;
        @media (max-width: 730px) {
            grid-column: 1;
            grid-row: 4;
        }
    }
    &:nth-child(5) {
        grid-column: 1 / span 4;
        grid-row: 6 / span 3;
        @media (max-width: 730px) {
            grid-column: 1;
            grid-row: 5;
        }
    }
    &:nth-child(6) {
        grid-column: 5 / span 4;
        grid-row: 6 / span 3;
        @media (max-width: 730px) {
            grid-column: 1;
            grid-row: 6;
        }
    }
    &__item {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        &:hover {
            .project__info {
                opacity: 1;
            }
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        //max-height: 747px;
    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#212529, 0.7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.6s ease-in-out;
    }

    &__subtitle {
        font-size: 28px;
        line-height: 150%;
        font-weight: 600;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        color: var(--font);
        padding: 5px;
        text-transform: uppercase;
        &::after {
            content: "";
            bottom: 0;
            position: absolute;
            height: 2px;
            background-color: var(--title);
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 14px;
        color: var(--active);
    }
}

.modal {
    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        //bottom: 0;
        right: 0;
        max-height: 90%;
        height: auto;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 40px;
        background-color: var(--bg2);
        border-radius: 40px;
        overflow-y: auto;
        margin: 20px auto;
        @media (max-width: 1200px) {
            width: 90%;
        }
        @media (max-width: 720px) {
            padding: 20px;
            border-radius: 20px;
        }
        @media (max-width: 540px) {
            margin: 0px auto;
            max-height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 0;
            transform: translate(0, 0);
        }
    }

    &__title {
        text-align: center;
        font-size: 24px;
        line-height: 125%;
        font-weight: 500;
        color: var(--font);
        margin-bottom: 24px;
        @media (max-width: 540px) {
            font-size: 20px;
        }
    }

    &__inner {
        display: flex;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: -24px;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__gallery {
        width: 58%;
        text-align: center;
        margin-top: 24px;
        padding-left: 12px;
        padding-right: 12px;
        @media (max-width: 1200px) {
            width: 50%;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
        .slick-dots {
            position: static;
            margin-top: 15px;
            li {
                button {
                    border: 1px solid transparent;
                    border-radius: 30px;
                    display: block;
                    height: 20px;
                    margin: 5px 3px;
                    position: relative;
                    transition: all 0.2s ease;
                    width: 20px;

                    &::before {
                        background-color: rgba(0, 0, 0, 0.2);
                        border-radius: 100%;
                        content: "";
                        height: 10px;
                        left: 50%;
                        margin-left: -5px;
                        margin-top: -5px;
                        opacity: 1;
                        position: absolute;
                        top: 50%;
                        transition: all 0.5s ease;
                        width: 10px;
                    }
                }
            }

            li.slick-active {
                button {
                    border: 1px solid var(--active);
                    &::before {
                        background-color: var(--active);
                    }
                }
            }
        }
    }

    &__img {
        max-width: 100%;
    }

    &__info {
        width: 42%;
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        padding-left: 12px;
        padding-right: 12px;
        @media (max-width: 1200px) {
            width: 50%;
        }
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__tech {
        color: var(--active);
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 500;
    }

    &__desc {
        flex: 1;
        color: var(--font-2);
        text-align: justify;
        margin-bottom: 15px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__button {
        background-color: transparent;
        border: 2px solid var(--active);
        padding: 10px 24px;
        border-radius: 15px;
        color: var(--active);
        font-weight: 600;
        margin-right: 10px;
        &:hover {
            background-color: var(--active);
            color: var(--font);
        }
    }
}
form:nth-child(2) .modal__button {
    margin-right: 0;
}
.modal__container::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.modal__container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

/* Handle */
.modal__container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.modal__container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
// //   .modal {
// //     height:300px;
// //     width: 400px;
// //     overflow-x:scroll;
// //     white-space: nowrap;
// //   }
// //   .modal div {
// //     width: 150px;
// //     height: 250px;
// //     background: #ccc;
// //     display: inline-block;
// //   }
