.about {
    background-color: var(--bg);
    padding: 72px 0;

    &__header {
        position: relative;
        display: flex;
        text-align: center;
        margin-bottom: 48px;
    }

    &__title {
        font-size: 132px;
        font-weight: 600;
        opacity: 0.1;
        line-height: 170px;
        text-transform: uppercase;
        width: 100%;
        color: var(--title);
    }

    &__subtitle {
        font-size: 36px;
        font-weight: 600;
        color: var(--font);
        line-height: 54px;
        position: absolute;
        align-self: center;
        width: 100%;
    }
    &__inner {
        display: flex;
        gap: 30px;
        // flex-wrap: wrap;
        color: var(--font);
        margin-top: -48px;
    }

    &__content {
        flex: 0 0 auto;
        width: 66%;
        margin-top: 48px;
    }

    &__info {
        flex: 0 0 auto;
        width: 33%;
        margin-top: 48px;
    }

    &__littletitle {
        font-size: 28px;
        line-height: 33px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    &__littletitle span {
        color: var(--active);
    }

    &__desc {
        font-weight: 400;
        line-height: 28px;
        color: var(--desc);
    }

    &__item {
        font-weight: 600;
        line-height: 24px;
        margin-right: 8px;
        padding: 5px 0px;
    }

    &__name,
    &__email {
        font-weight: 400;
        padding: 12px 0;
        border-bottom: 1px solid var(--border-bottom);
        color: #dee3e4;
    }

    &__email a {
        color: var(--active);
    }
}
