.about {
    background-color: var(--bg);
    padding: 72px 0;

    &__header {
        position: relative;
        display: flex;
        text-align: center;
        margin-bottom: 48px;
    }

    &__title {
        font-size: 132px;
        font-weight: 600;
        opacity: 0.1;
        line-height: 170px;
        text-transform: uppercase;
        width: 100%;
        color: var(--title);
    }

    &__subtitle {
        font-size: 36px;
        font-weight: 600;
        color: var(--font);
        line-height: 54px;
        position: absolute;
        align-self: center;
        width: 100%;
    }
    &__inner {
        display: flex;
    }
}
