.aboutme {
    display: flex;

    @media screen and (max-width: 425px) {
        flex-direction: column;
        align-items: center;
    }

    &__content {
        padding: 2rem 5rem;
        @media screen and (max-width: 425px) {
            padding: 1.5rem 0;
        }
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        color: var(--grey-2);
        padding-bottom: 2.5rem;
        @media screen and (max-width: 425px) {
            font-size: 2.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__text {
        font-family: $second-font;
        color: var(--grey-3);
        font-size: 1.3rem;
        line-height: 1.6;
        text-align: justify;
    }

    &__img {
        max-width: 265px;
        height: 350px;
    }
}
