.burger-menu {
    @media screen and (max-width: 619px) {
        position: fixed;
        top: 0;
        right: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background-color: var(--grey-2);
        opacity: 0.99;
        transition: left 200ms ease-in-out;
        z-index: 100;
        overflow: auto;

        &__header {
            position: relative;
        }

        &__open-btn {
            padding: 0;
            border: 0;
            background-color: inherit;
            position: absolute;

            svg {
                stroke: var(--black);
            }
        }

        &__close-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            border: 0;
            position: absolute;
            height: 28px;
            width: 28px;
            background-color: var(--yellow);
            top: 1rem;
            left: 1rem;
        }
        &[data-open] {
            left: 0;
        }

        &__container {
            padding: 0 16px;
        }

        &__menu {
            width: 100%;
            margin-top: 4.5rem;

            a {
                font-family: "Inter", sans-serif;
                font-weight: 400;
                color: var(--yellow);
                text-decoration: none;
            }
        }

        &__main {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-family: "Inter", sans-serif;
            font-size: 1.5rem;
            line-height: 157%;
        }

        &__head {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            line-height: 157%;
            font-weight: 400;
            color: var(--black);
        }

        &__lang {
            position: absolute;
            top: 15px;
            right: 1rem;
            background-color: var(--yellow);
        }
    }

    @media screen and (min-width: 619px) {
        display: none;

        &__open-btn {
            display: none;
        }
    }
}
