.button {
    height: 48px;
    padding: 5px 20px;
    border: 0px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    position: relative;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &_primary {
        color: var(--white);
        background-color: var(--blue-2);
        transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    }

    &_primary:hover {
        background-color: var(--blue-3);
        cursor: pointer;
    }

    &_secondary {
        color: var(--white);
        background-color: var(--purple);
        transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    }

    &_secondary:hover {
        background-color: var(--purple-2);
        cursor: pointer;
    }

    &_alternate {
        border: 1px solid var(--grey-3);
        background-color: var(--white);
        color: var(--grey-4);
        transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    }

    &_alternate:hover {
        border: 1px solid var(--black);
    }

    &_two {
        background: linear-gradient(0deg, var(--blue-2) 0%, var(--blue-3) 100%);
        color: var(--white);

        &:hover {
            color: var(--purple-2);
            background: transparent;
            box-shadow: none;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 2px;
            width: 0;
            background: var(--purple-2);
            box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
                4px 4px 5px 0px #0002;
            transition: 200ms ease all;
        }

        &:after {
            right: inherit;
            top: inherit;
            left: 0;
            bottom: 0;
        }
        &:hover:before,
        &:hover:after {
            width: 100%;
            transition: 800ms ease all;
        }
    }

    &_three {
        background: linear-gradient(0deg, var(--blue-8) 0%, var(--blue-3) 100%);
        line-height: 47px;
        padding: 0;
        border: none;

        & span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            color: var(--white);
        }
        &:before,
        &:after {
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            background: var(--blue-3);
            box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
                -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
                7px 7px 20px 0px rgba(0, 0, 0, 0.2),
                4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease;
        }
        &:before {
            height: 0%;
            width: 2px;
        }
        &:after {
            width: 0%;
            height: 2px;
        }
        &:hover {
            color: var(--blue-3);
            background: transparent;
        }

        & span:hover {
            color: var(--black);
        }
        &:hover:before {
            height: 100%;
        }
        &:hover:after {
            width: 100%;
        }
        & span:before,
        & span:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            background: var(--blue-3);
            box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
                -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
                7px 7px 20px 0px rgba(0, 0, 0, 0.2),
                4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease;
        }
        & span:before {
            width: 2px;
            height: 0%;
        }
        & span:after {
            height: 2px;
            width: 0%;
        }
        & span:hover:before {
            height: 100%;
        }
        & span:hover:after {
            width: 100%;
        }
    }

    &_four {
        color: var(--blue-8);
        transition: 0.5s;
        overflow: hidden;

        &:hover {
            background: var(--blue-8);
            color: var(--black);
            box-shadow: 0 0 5px var(--blue-8), 0 0 25px var(--blue-8),
                0 0 50px var(--blue-8), 0 0 200px var(--blue-8);
            -webkit-box-reflect: below 1px
                linear-gradient(transparent, var(--black));
        }
        &:nth-child(1) {
            filter: hue-rotate(270deg);
        }
        &:nth-child(2) {
            filter: hue-rotate(110deg);
        }
        & span {
            position: absolute;
            display: block;
        }
        & span:nth-child(1) {
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, var(--blue-8));
            animation: animate1 1s linear infinite;
        }

        & span:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, var(--blue-8));
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
        }

        & span:nth-child(3) {
            bottom: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, var(--blue-8));
            animation: animate3 1s linear infinite;
            animation-delay: 0.5s;
        }

        & span:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, var(--blue-8));
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }
    }
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
