.header {
    background-color: var(--grey-2);
    border-radius: 20px 20px 0 0;
    &__nav {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    &__hi {
        margin: 20rem 0;

        @media screen and (max-width: 619px) {
            margin: 1rem 0;
            padding-top: 1.5rem;
        }
    }
}
