.hi {
    height: 50%;
    font-size: 3rem;
    color: var(--grey-3);

    @media screen and (max-width: 619px) {
        font-size: 1.3rem;
    }

    & p {
        margin: 1.5rem 0;
        font-weight: 500;

        @media screen and (max-width: 619px) {
            margin: 15.5rem 0 1.5rem;
        }
    }

    & h1 {
        font-size: 4rem;
        font-weight: 700;
        @media screen and (max-width: 619px) {
            font-size: 2.5rem;
        }
    }

    & h2 {
        margin: 3rem 0;
        font-weight: 500;

        @media screen and (max-width: 619px) {
            font-size: 1rem;
        }
    }
}
