.projects {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        color: var(--grey-2);
        padding-bottom: 2rem;
        @media screen and (max-width: 619px) {
            font-size: 2.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__box {
        margin: 3rem 0;
        @media screen and (max-width: 619px) {
            margin: 0;
        }
    }
}

.project {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 700;
        font-size: 2rem;
        padding: 2rem 2rem 2rem 0;
        color: var(--grey-3);
        @media screen and (max-width: 619px) {
            font-size: 1.6rem;
            padding: 1.7rem 0;
            text-align: center;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 2rem;
        @media screen and (max-width: 619px) {
            flex-direction: column;
        }
    }

    &__img {
        & img {
            width: 290px;
            height: 290px;
            object-fit: contain;
        }
    }

    &__content {
        display: block;
        padding: 2rem 4rem;
        height: 100%;
        text-align: justify;
        overflow: hidden;
        @media screen and (max-width: 619px) {
            padding: 1.5rem 0;
        }

        @media screen and (max-width: 980px) and (min-width: 620px) {
            padding: 0;
        }

        & p {
            font-family: $second-font;
            font-size: 1.3rem;
            line-height: 1.2;
            color: var(--grey-3);
        }
    }

    &__buttons {
        display: flex;
        padding: 1rem 1rem 1rem 0;
        gap: 1.2rem;
        @media screen and (max-width: 619px) {
            padding: 1rem 0;
            justify-content: center;

            & form {
                width: 100%;
            }
        }
    }

    &__button {
        font-family: $main-front;

        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
}

._anim-show {
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 1.2s ease 0s;
}
._anim-show-img {
    transform: translate(0px, -30%);
    opacity: 0;
    transition: all 2s ease 0s;
}
._anim-show._active,
._active ._anim-show {
    transform: translate(0px, 0px);
    opacity: 1;
}

._anim-show-img._active,
._active ._anim-show-img {
    transform: translate(0px, 0px);
    opacity: 1;
}
