.project {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 700;
        font-size: 2rem;
        padding: 2rem 2rem 2rem 0;
    }

    &__body {
        display: flex;
        gap: 2rem;
    }

    &__img {
        height: 100%;
    }

    &__content {
        display: block;
        padding: 1rem;
        height: 100%;

        & p {
            font-family: $second-font;
            font-size: 1.3rem;
            line-height: 1.2;
        }
    }

    &__buttons {
        display: flex;
        padding: 1rem 1rem 1rem 0;
    }

    &__button {
        font-family: $main-front;
    }
}
