@import "./components/commin.scss";

@import "./components/page.scss";

@import "./components/header.scss";

@import "./components/navbar.scss";

@import "./components/main.scss";

@import "./components/footer.scss";

@import "./components/button.scss";

@import "./components/project.scss";

@import "./components/typed.scss";

@import "./components/aboutme.scss";

@import "./components/hi.scss";
